.container {
  max-width: 1662px;
  padding: 0 30px;
  margin: 0 auto;
}

/* 
.site-container {
    overflow: hidden;
}
 */
.flex {
  display: flex;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--dark-color);
}

.section-title--center {
    text-align: center;
    max-width: none;
}

.color-1{
  background-color: #BFCCB5;
}
.color-2{
  background-color: #7C96AB;
}
.color-3{
  background-color: #B7B7B7;
}
.color-4{
  background-color: #EDC6B1;
}
