.first {  
  height: 100vh;
  min-height: 660px;
  background-image: url("../../img/first_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);

  border-bottom: 1px solid #788692;
}
.first__container {
  padding-top: 223px;
  position: relative;
  height: 100%;
}
.first__link {
  background-color: rgb(28, 46, 61, 0.7);
  height: 13px;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 1px;
  padding: 18px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 42px;
}

.first__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 84px;
  max-width: 40%;
  margin-bottom: 40px;
}

.first__descr {
  font-family: "SFCompact", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-family: serif;
  max-width: 32%;
  margin-bottom: 58px;
}

.first__btn {  
  background-color: var(--accent-color);
  position: relative;
  z-index: 5;
  transition: background-color .3s;

}
.first__btn:hover {
  background-color: var(--accent-hover-color);
}
.first__bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;
}
.search-form {
  flex-shrink: 0;
  width: 68%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  height: 120px;
}

.search-form__field {
  font-size: 16px;
  line-height: 19px;

  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: var(--dark-color);
  padding-left: 55px;
  padding-right: 90px;
}
.search-form__button {
  width: 18px;
  height: 18px;
  background-image: url("../../img/search.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 62px;
  top: 50%;
  transform: translateY(-50%);
}

.owl-carousel {
}
.main-slider {
  max-width: 502px;
  margin-bottom: -117px;

}
.main-slider__media {
  overflow: hidden;
  max-width: 502px;;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.main-slider__media video {
  width:100%;
  
  min-height: 280px;
  max-height: 100%;
  height: 100%;
}
.main-slider__text {
  background-color: var(--neptune-color);
  min-height: 120px;
  font-size: 12px;
  line-height: 116px;
  text-align: center;
  letter-spacing: 2.18182px;
  text-transform: uppercase;
}
.main-slider__play {
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 41px;
  background-image: url(../../img/play-btn.svg);
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}
@media(max-height: 1079px) {
  .first__container {
    padding: 120px 30px;
  }
  .first__descr {
    font-size: 20px;
  }
}
@media(max-height: 880px) {
  .fist__container {
    padding: 100px 30px;
  }
  .first__link {
    margin-bottom: 30px;
  }
  .first__title {
    font-size: 65px;
    line-height: 65px;
  }
}

@media(max-height: 780px) {
  .search-form {
    height: 80px;
  }
  .main-slider__text {
    height: 80px;
  }
  .first__title {
    font-size: 65px;
    line-height: 65px;
    margin-bottom: 30px;
  }

  .first__descr {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .first__btn {
    padding: 20px 20px
  }
}