.swiper { 
  width: 100%;
  align-items: center;
}
.swiper-wrapper {
  padding: 100px;
}
.swiper-slide {
  max-width: 890px;
  min-height: 551px;
  z-index: 1;
  position: relative;
  border-radius: 8px;
}
.swiper-backface-hidden .swiper-slide {
}

.swiper-slide-active {
  z-index: 10;
  position: relative
}

.slide-card {
  height: 100%;
  transition: 0.2s;
  overflow: hidden;  
  z-index: 10;
  position: relative
}
.slide-card img {
  width: 100%;
  object-fit: cover;
  z-index: 10;
  position: relative
}
.swiper-slide-active .slide-card {
  transform: scale(1) scale(1.2);
  z-index: 10;
}
