.featured__slider {
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.featured__slide {
  width: 890px;
  max-height: 551px;
  height: 100%;
  transition: all 0.4s;  
}
.featured__slide img {
  object-fit: cover;
}
.owl-item.active.center {
  position: relative;
  transform: scaleY(1.2) scaleX(1.1);
  transition: all 0.4s;
  z-index: 10;
}
.owl-stage-outer {
  height: 100%;
  padding: 100px 0;
}
